<div class="container-fluid bg-light mb-4">
  <div class="row">
    <ul class="list-group mx-auto list-group-horizontal">
      <li class="list-group-item p-3 bg-light border-0">
        <a class="btn btn-outline-primary" href="{{ site.artist_rhyd }}">
          <i class="fas fa-guitar"></i>
          Music by Rhyd Lewis
        </a>
      </li>
      <li class="list-group-item p-3 bg-light border-0">
        <a class="btn btn-outline-primary" href="{{ site.artist_entmoot }}">
          <i class="fas fa-record-vinyl"></i>
          Music by entMOOT
        </a>
      </li>
      <li class="list-group-item p-3 bg-light border-0">
        <a class="btn btn-outline-primary" href="{{ site.podcast_link }}">
          <i class="fas fa-podcast"></i>
          Rethinking Work & Life Podcast
        </a>
      </li>
    </ul>
  </div>
</div>