<div class="container-fluid bg-light mb-4 text-center">
    <div class="btn-group p-3 flex-wrap" role="group">
      <a class="btn btn-outline-primary" href="{{ site.artist_rhyd }}">
            <i class="fas fa-guitar"></i>
            Music - Rhyd Lewis
      </a>
      <a class="btn btn-outline-primary" href="{{ site.artist_entmoot }}">
            <i class="fas fa-record-vinyl"></i>
            Music - entMOOT
          </a>
      <a class="btn btn-outline-primary" href="{{ site.podcast_link }}">
            <i class="fas fa-podcast"></i>
            Rethinking Work & Life Podcast
          </a>
    </div>
</div>